[flake8]

max-line-length = 155


ignore = 
    E302,
    E261,  
    E262,  
    E501,  
    E303,      
    E111,  
    E117,  
    E401,
    F403,
    F405,
    E221,
    E711,
    W292,
    F841  